CSharp_FinalWork/CSharp_FinalWork/Web References/cn.smallfunny.web/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Message">
        <s:complexType />
      </s:element>
      <s:element name="MessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="tns:ArrayOfModel_movies" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModel_movies">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="model_movies" nillable="true" type="tns:model_movies" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="model_movies">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Times" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Duration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Actor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MessageDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tag" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageDetailResult" type="tns:model_detail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="model_detail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Describe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Actor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Duration" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RelatedMovies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RelatedMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RelatedMoviesResult" type="tns:ArrayOfModel_moviecrude" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModel_moviecrude">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="model_moviecrude" nillable="true" type="tns:model_moviecrude" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="model_moviecrude">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MovieAssess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MovieAssessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MovieAssessResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Message_coming">
        <s:complexType />
      </s:element>
      <s:element name="Message_comingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message_comingResult" type="tns:ArrayOfModel_movies_coming" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfModel_movies_coming">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="model_movies_coming" nillable="true" type="tns:model_movies_coming" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="model_movies_coming">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Times" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Place" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfModel_movies" nillable="true" type="tns:ArrayOfModel_movies" />
      <s:element name="model_detail" nillable="true" type="tns:model_detail" />
      <s:element name="ArrayOfModel_moviecrude" nillable="true" type="tns:ArrayOfModel_moviecrude" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="ArrayOfModel_movies_coming" nillable="true" type="tns:ArrayOfModel_movies_coming" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MessageSoapIn">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="MessageSoapOut">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="MessageDetailSoapIn">
    <wsdl:part name="parameters" element="tns:MessageDetail" />
  </wsdl:message>
  <wsdl:message name="MessageDetailSoapOut">
    <wsdl:part name="parameters" element="tns:MessageDetailResponse" />
  </wsdl:message>
  <wsdl:message name="RelatedMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:RelatedMovies" />
  </wsdl:message>
  <wsdl:message name="RelatedMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:RelatedMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="MovieAssessSoapIn">
    <wsdl:part name="parameters" element="tns:MovieAssess" />
  </wsdl:message>
  <wsdl:message name="MovieAssessSoapOut">
    <wsdl:part name="parameters" element="tns:MovieAssessResponse" />
  </wsdl:message>
  <wsdl:message name="Message_comingSoapIn">
    <wsdl:part name="parameters" element="tns:Message_coming" />
  </wsdl:message>
  <wsdl:message name="Message_comingSoapOut">
    <wsdl:part name="parameters" element="tns:Message_comingResponse" />
  </wsdl:message>
  <wsdl:message name="MessageHttpGetIn" />
  <wsdl:message name="MessageHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfModel_movies" />
  </wsdl:message>
  <wsdl:message name="MessageDetailHttpGetIn">
    <wsdl:part name="link" type="s:string" />
    <wsdl:part name="tag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageDetailHttpGetOut">
    <wsdl:part name="Body" element="tns:model_detail" />
  </wsdl:message>
  <wsdl:message name="RelatedMoviesHttpGetIn">
    <wsdl:part name="link" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RelatedMoviesHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfModel_moviecrude" />
  </wsdl:message>
  <wsdl:message name="MovieAssessHttpGetIn">
    <wsdl:part name="link" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MovieAssessHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Message_comingHttpGetIn" />
  <wsdl:message name="Message_comingHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfModel_movies_coming" />
  </wsdl:message>
  <wsdl:message name="MessageHttpPostIn" />
  <wsdl:message name="MessageHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfModel_movies" />
  </wsdl:message>
  <wsdl:message name="MessageDetailHttpPostIn">
    <wsdl:part name="link" type="s:string" />
    <wsdl:part name="tag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MessageDetailHttpPostOut">
    <wsdl:part name="Body" element="tns:model_detail" />
  </wsdl:message>
  <wsdl:message name="RelatedMoviesHttpPostIn">
    <wsdl:part name="link" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RelatedMoviesHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfModel_moviecrude" />
  </wsdl:message>
  <wsdl:message name="MovieAssessHttpPostIn">
    <wsdl:part name="link" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MovieAssessHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="Message_comingHttpPostIn" />
  <wsdl:message name="Message_comingHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfModel_movies_coming" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Message">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取热映电影基本信息</wsdl:documentation>
      <wsdl:input message="tns:MessageSoapIn" />
      <wsdl:output message="tns:MessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取电影详细信息</wsdl:documentation>
      <wsdl:input message="tns:MessageDetailSoapIn" />
      <wsdl:output message="tns:MessageDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RelatedMovies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取相关电影</wsdl:documentation>
      <wsdl:input message="tns:RelatedMoviesSoapIn" />
      <wsdl:output message="tns:RelatedMoviesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MovieAssess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取电影短评</wsdl:documentation>
      <wsdl:input message="tns:MovieAssessSoapIn" />
      <wsdl:output message="tns:MovieAssessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Message_coming">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取即将上映的电影基本信息</wsdl:documentation>
      <wsdl:input message="tns:Message_comingSoapIn" />
      <wsdl:output message="tns:Message_comingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="Message">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取热映电影基本信息</wsdl:documentation>
      <wsdl:input message="tns:MessageHttpGetIn" />
      <wsdl:output message="tns:MessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取电影详细信息</wsdl:documentation>
      <wsdl:input message="tns:MessageDetailHttpGetIn" />
      <wsdl:output message="tns:MessageDetailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RelatedMovies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取相关电影</wsdl:documentation>
      <wsdl:input message="tns:RelatedMoviesHttpGetIn" />
      <wsdl:output message="tns:RelatedMoviesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MovieAssess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取电影短评</wsdl:documentation>
      <wsdl:input message="tns:MovieAssessHttpGetIn" />
      <wsdl:output message="tns:MovieAssessHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Message_coming">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取即将上映的电影基本信息</wsdl:documentation>
      <wsdl:input message="tns:Message_comingHttpGetIn" />
      <wsdl:output message="tns:Message_comingHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="Message">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取热映电影基本信息</wsdl:documentation>
      <wsdl:input message="tns:MessageHttpPostIn" />
      <wsdl:output message="tns:MessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MessageDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取电影详细信息</wsdl:documentation>
      <wsdl:input message="tns:MessageDetailHttpPostIn" />
      <wsdl:output message="tns:MessageDetailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RelatedMovies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取相关电影</wsdl:documentation>
      <wsdl:input message="tns:RelatedMoviesHttpPostIn" />
      <wsdl:output message="tns:RelatedMoviesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MovieAssess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取电影短评</wsdl:documentation>
      <wsdl:input message="tns:MovieAssessHttpPostIn" />
      <wsdl:output message="tns:MovieAssessHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Message_coming">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取即将上映的电影基本信息</wsdl:documentation>
      <wsdl:input message="tns:Message_comingHttpPostIn" />
      <wsdl:output message="tns:Message_comingHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageDetail">
      <soap:operation soapAction="http://tempuri.org/MessageDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelatedMovies">
      <soap:operation soapAction="http://tempuri.org/RelatedMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovieAssess">
      <soap:operation soapAction="http://tempuri.org/MovieAssess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_coming">
      <soap:operation soapAction="http://tempuri.org/Message_coming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap12:operation soapAction="http://tempuri.org/Message" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageDetail">
      <soap12:operation soapAction="http://tempuri.org/MessageDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelatedMovies">
      <soap12:operation soapAction="http://tempuri.org/RelatedMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovieAssess">
      <soap12:operation soapAction="http://tempuri.org/MovieAssess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_coming">
      <soap12:operation soapAction="http://tempuri.org/Message_coming" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Message">
      <http:operation location="/Message" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageDetail">
      <http:operation location="/MessageDetail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelatedMovies">
      <http:operation location="/RelatedMovies" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovieAssess">
      <http:operation location="/MovieAssess" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_coming">
      <http:operation location="/Message_coming" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Message">
      <http:operation location="/Message" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageDetail">
      <http:operation location="/MessageDetail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RelatedMovies">
      <http:operation location="/RelatedMovies" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovieAssess">
      <http:operation location="/MovieAssess" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message_coming">
      <http:operation location="/Message_coming" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://web.smallfunny.cn:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://web.smallfunny.cn:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://web.smallfunny.cn:8080/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://web.smallfunny.cn:8080/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>